<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>兼职文案管理系统后台</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">兼职文案管理系统后台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:projectlist;">项目管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">项目列表</a></dd>
            <dd><a href="javascript:;">创建项目</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">文案管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">人员管理</a></li>
        <li class="layui-nav-item"><a href="">权限管理</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
     <div class="card">
        <div class="container">

          <div class="projectlist">
            <a id="addproject" href="" class="layui-btn layui-btn-normal">+新项目</a>
            <div class="layui-row">
            
              <div class="layui-col-md2">
                <div class="layui-card">
                  <div class="layui-card-header">雪茄大佬</div>
                   <div class="layui-card-body">
                   这里是项目内容上课到九分裤纠结啊可怜的你是否看拉家带口浪费
                   阿快到九分裤阿津津乐道看风景看拉家带口浪费就啊可怜的肌肤阿快的肌肤
                   阿道夫快乐了；案例；都快疯了了；地方；离开卡掉了；
                     <div class="layui-card-footer">
                        开始时间/截止时间
                        需求状态
                        需求数量
                    </div>
                   </div>
                </div> 
              </div>

              <div class="layui-col-md2">
                  <div class="layui-card">
                  <div class="layui-card-header">卡片头部</div>
                  <div class="layui-card-body">
                   卡片内容     
                   </div>
                 </div>  
              </div> 
               <div class="layui-col-md2">
                  <div class="layui-card">
                  <div class="layui-card-header">卡片头部</div>
                  <div class="layui-card-body">
                   卡片内容     
                   </div>
                 </div>  
              </div> 

            </div> 
          </div>

          <div class="createproject">
             <form class="layui-form" action="">
               <div class="layui-form-item">
                 <label class="layui-form-label">项目名称</label>
                  <div class="layui-input-block">
                     <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                  </div>
               </div>
               <div class="layui-form-item">
                <label class="layui-form-label">项目内容</label>
                 <div class="layui-input-block">
                  <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                 </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">文案需求状态</label>
                 <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                 </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">文案需求数量</label>
                 <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                 </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">账号数量</label>
                 <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                 </div>
              </div>
             </form>
          </div>





          <div class="filemanage">
            
          </div>

          <div class="usermanage">
            
          </div>

          <div class="rightmanage">
            
          </div>  

        </div>
     </div>
  </div>






  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © xiaomeng.com - 底部固定区域
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/admin.js"></script>
<script src="/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>