<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>兼职文案管理系统后台</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/qian.css">
</head>
<body class="layui-layout-body">
	<div class="layui-container">
		<div class="layui-row">
			<ul class="layui-nav" lay-filter="">
			  <li class="layui-nav-item layui-this"><a href="">项目</a></li>
			  <li class="layui-nav-item"><a href="">文案</a></li>
			   <li class="layui-nav-item" id="user">
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
			    <dl class="layui-nav-child">
				    <dd><a href="javascript:;">修改信息</a></dd>
				    <dd><a href="javascript:;">安全管理</a></dd>
				    <dd><a href="javascript:;">退了</a></dd>
		        </dl>
               </li>
			</ul>
		</div>
	</div>



<script src="/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>